/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides {margin: 0; padding: 0; list-style-type: none;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden; padding: 0; margin: 0; position: relative;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block; position: relative; z-index: 1; -moz-backface-visibility: hidden;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Styling
*********************************/
.flexslider {
	margin: 0 0 15px 0;
	background: #fff;
	position: relative;
	zoom: 1;
}
.flexslider.loading {
	background: #fff url(../images/preloader.gif) 50% 50% no-repeat; 
}
.flexslider__bordered {
	padding: 4px;
	border: 1px solid #f2f2f2;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.flex-viewport {
	max-height: 2000px; 
	-webkit-transition: all 1s ease; 
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav {
	height: 0;
	list-style-type: none;
}
.flex-direction-nav a {
	position: absolute; 
	top: 50%; 
	z-index: 10;
	display: block; 
	margin: -22px 0 0 0;
	width: 42px; 
	height: 43px;
	border: 1px solid #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #fff;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .12);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .12);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .12);  
	cursor: pointer; 
	text-align: center;
	font-size: 28px;
	line-height: 43px;
	color: #7fdbfd;
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-ms-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
}
	.flex-direction-nav li {
		margin: 0;
	}
.flex-direction-nav .flex-next {
	right: -10px;
}
	#wrapper.full_width .flex-direction-nav .flex-next {
		right: 10px;
	}
.flex-direction-nav .flex-prev {
	left: -10px;
}
	#wrapper.full_width .flex-direction-nav .flex-prev {
		left: 10px;
	}
.flex-next:hover, 
.flex-prev:hover {
	background: #7fdbfd;
	color: #fff;
	text-decoration: none;
}
.flex-direction-nav .flex-disabled {
	opacity: .3!important; 
	filter:alpha(opacity=30); 
	cursor: default;
}

/* Control Nav */
.flex-control-nav {
	position: absolute; 
	bottom: 17px;
	right: 15px;
	z-index: 3;
}
.flex-control-nav li {
	margin: 0 5px; 
	display: inline-block; 
	zoom: 1; *display: inline;
}
.flex-control-paging li a {
	display: block;
	width: 13px;
	height: 13px;
	border: 2px solid #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #fff;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .12), inset 0 1px 0 rgba(0, 0, 0, .15);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .12), inset 0 1px 0 rgba(0, 0, 0, .15);
	box-shadow: 0 1px 0 rgba(0, 0, 0, .12), inset 0 1px 0 rgba(0, 0, 0, .15);
	vertical-align: top;
	text-indent: -9999px;
	cursor: pointer;
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-ms-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
}
.flex-control-paging li a:hover {
	background: #7fdbfd;
} 
.flex-control-paging li a.flex-active {
	background: #7fdbfd;
	cursor: default;
}

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

.flexslider-desc {
	position: absolute;
	left: 20px;
	bottom: 36px;
	width: 480px;
	background: #fff;
	background: rgba(255, 255, 255, .93);
	padding: 20px 20px 20px 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	z-index: 2;
	-webkit-box-shadow: inset 0 -5px 0 rgba(0, 0, 0, .02);
	-moz-box-shadow: inset 0 -5px 0 rgba(0, 0, 0, .02);
	box-shadow: inset 0 -5px 0 rgba(0, 0, 0, .02);
}
	.flexslider-desc h1 {
		margin-bottom: .2em;
	}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}


/* Carousel */
.flexslider__carousel {
	position: relative;
	padding: 0 26px;
}

.flexslider__carousel .slides > li {
	margin-right: 5px;
}
	.flexslider__carousel .slides > li img {
		background: #fff;
		padding: 4px;
		border: 1px solid #f2f2f2;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		-webkit-transition:all 0.2s ease-in-out;
		-moz-transition:all 0.2s ease-in-out;
		-ms-transition:all 0.2s ease-in-out;
		-o-transition:all 0.2s ease-in-out;
		transition:all 0.2s ease-in-out;
	}
	.flexslider__carousel .slides > li img:hover,
	.flexslider__carousel .slides > li.flex-active-slide img {
		background: #7fdbfd;
		border-color: #7fdbfd;
		cursor: pointer;
	}
/* Direction Nav */
.flexslider__carousel .flex-direction-nav {
	
}
.flexslider__carousel .flex-direction-nav a {
	width: 22px;
	height: 96px;
	top: 0;
	margin-top: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: 1px solid #f2f2f2;
	line-height: 92px;
}
	.flexslider__carousel .flex-direction-nav i {
		font-size: 20px;
		display: inline-block;
	}
.flexslider__carousel .flex-direction-nav a.flex-prev {
	-webkit-border-radius: 6px 0 0 6px;
	-moz-border-radius: 6px 0 0 6px;
	border-radius: 6px 0 0 6px;
	left: 0;
}
	.flexslider__carousel .flex-direction-nav a.flex-prev:hover {
		border-color: #7fdbfd;
	}
.flexslider__carousel .flex-direction-nav a.flex-next {
	-webkit-border-radius: 0 6px 6px 0;
	-moz-border-radius: 0 6px 6px 0;
	border-radius: 0 6px 6px 0;
	right: 0;
}
	.flexslider__carousel .flex-direction-nav a.flex-next:hover {
		border-color: #7fdbfd;
	}