/*
* Skeleton V1.2 (non-responsive part)
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Contents
==================================================
    #Base 960 Grid
    #Clearing */



/* #Base 960 Grid
================================================== */

	.container                      { position: relative; width: 960px; margin: 0 auto; padding: 0; }
	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6,
	.grid_7,
	.grid_8,
	.grid_9,
	.grid_10,
	.grid_11,
	.grid_12									{float: left; display: inline; margin-left: 10px; margin-right: 10px;}
   .row                            { margin-bottom: 20px; }

	/* Nested Column Classes */
	.container .alpha               { margin-left: 0 !important; }
	.container .omega               { margin-right: 0 !important; }

	
	/* Base Grid */
	.container .grid_1 					{ width: 60px;  }
	.container .grid_2 					{ width: 140px; }
	.container .grid_3 					{ width: 220px; }
	.container .grid_4 					{ width: 300px; }
	.container .grid_5 					{ width: 380px; }
	.container .grid_6 					{ width: 460px; }
	.container .grid_7 					{ width: 540px; }	
	.container .grid_8 					{ width: 620px; }
	.container .grid_9 					{ width: 700px; }
	.container .grid_10 					{ width: 780px; }	
	.container .grid_11 					{ width: 860px; }	
	.container .grid_12 					{ width: 940px; }
		
	/* Prefix Extra Space >> 12 Columns */
	.container .prefix_1 				{ margin-left: 80px;  }
	.container .prefix_2 				{ margin-left: 160px; }
	.container .prefix_3 				{ margin-left: 240px; }
	.container .prefix_4 				{ margin-left: 320px; }
	.container .prefix_5 				{ margin-left: 400px; }
	.container .prefix_6 				{ margin-left: 480px; }
	.container .prefix_7 				{ margin-left: 560px; }
	.container .prefix_8 				{ margin-left: 640px; }
	.container .prefix_9 				{ margin-left: 720px; }
	.container .prefix_10 				{ margin-left: 800px; }
	.container .prefix_11 				{ margin-left: 880px; }
		
	/* Suffix Extra Space >> 12 Columns */
	.container .suffix_1 				{ margin-right:80px; }
	.container .suffix_2 				{ margin-right:160px; }
	.container .suffix_3 				{ margin-right:240px; }
	.container .suffix_4 				{ margin-right:320px; }
	.container .suffix_5 				{ margin-right:400px; }
	.container .suffix_6 				{ margin-right:480px; }
	.container .suffix_7 				{ margin-right:560px; }
	.container .suffix_8 				{ margin-right:640px; }
	.container .suffix_9 				{ margin-right:720px; }
	.container .suffix_10 				{ margin-right:800px; }
	.container .suffix_11 				{ margin-right:880px; }


/* #Clearing
================================================== */

	/* Self Clearing Goodness */
	.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

	/* Use clearfix class on parent to clear nested columns,
	or wrap each row of columns in a <div class="row"> */
	.clearfix:before,
	.clearfix:after,
	.row:before,
	.row:after {
		content: '\0020';
		display: block;
		overflow: hidden;
		visibility: hidden;
		width: 0;
		height: 0; 
	}
	.row:after,
	.clearfix:after { clear: both; }
	.row,
	.clearfix { zoom: 1; }

	/* You can also use a <br class="clear" /> to clear columns */
	.clear {
		clear: both;
		display: block;
		overflow: hidden;
		visibility: hidden;
		width: 0;
		height: 0;
	}