/*
Theme Name:     Freelanceengine Child
Theme URI:      http://enginetheme.com/
Description:    Child theme for the FreelanceEngine theme
Author:         enginethemes
Author URI:     http://enginetheme.com/about/
Template:       freelanceengine
Version:        1.0
*/