header.w2gm-listing-header h2 {
	font-size: 20px;
}

div.w2gm-content a,
div.w2gm-content a:visited,
div.w2gm-content a:focus,
div.w2gm-content h2 a,
div.w2gm-content h2 a:visited,
div.w2gm-content h2 a:focus,
div.w2gm-content .w2gm-pagination > li > a,
div.w2gm-content .w2gm-pagination > li > a:visited,
div.w2gm-content .w2gm-pagination > li > a:focus,
div.w2gm-content .w2gm-btn-default, div.w2gm-content div.w2gm-btn-default:visited, div.w2gm-content .w2gm-btn-default:focus {
	color: #2393ba;
}
div.w2gm-content li.w2gm-listing-bottom-option a {
	background-color: #2393ba;
}
div.w2gm-content a:hover,
div.w2gm-content h2 a:hover,
div.w2gm-content .w2gm-pagination > li > a:hover {
	color: #2a6496;
}
div.w2gm-content li.w2gm-listing-bottom-option a:hover {
	background-color: #2a6496;
}

div.w2gm-content .w2gm-btn-primary, div.w2gm-content a.w2gm-btn-primary, div.w2gm-content input[type="submit"], div.w2gm-content input[type="button"],
div.w2gm-content .w2gm-btn-primary:visited, div.w2gm-content a.w2gm-btn-primary:visited, div.w2gm-content input[type="submit"]:visited, div.w2gm-content input[type="button"]:visited,
div.w2gm-content .w2gm-btn-primary:focus, div.w2gm-content a.w2gm-btn-primary:focus, div.w2gm-content input[type="submit"]:focus, div.w2gm-content input[type="button"]:focus,
div.w2gm-content .w2gm-btn-primary[disabled], div.w2gm-content a.w2gm-btn-primary[disabled],
div.w2gm-content .w2gm-btn-primary[disabled]:focus, div.w2gm-content a.w2gm-btn-primary[disabled]:focus,
form.w2gm-content .w2gm-btn-primary, form.w2gm-content a.w2gm-btn-primary, form.w2gm-content input[type="submit"], form.w2gm-content input[type="button"],
form.w2gm-content .w2gm-btn-primary:visited, form.w2gm-content a.w2gm-btn-primary:visited, form.w2gm-content input[type="submit"]:visited, form.w2gm-content input[type="button"]:visited,
form.w2gm-content .w2gm-btn-primary:focus, form.w2gm-content a.w2gm-btn-primary:focus, form.w2gm-content input[type="submit"]:focus, form.w2gm-content input[type="button"]:focus,
form.w2gm-content .w2gm-btn-primary[disabled], form.w2gm-content a.w2gm-btn-primary[disabled],
form.w2gm-content .w2gm-btn-primary[disabled]:focus, form.w2gm-content a.w2gm-btn-primary[disabled]:focus,
div.w2gm-content .wpcf7-form .wpcf7-submit,
div.w2gm-content .wpcf7-form .wpcf7-submit:visited,
div.w2gm-content .wpcf7-form .wpcf7-submit:focus {
	color: #FFFFFF;
	background-color: #2393ba;
	background-image: none;
	border-color: #1f82a5;
}
div.w2gm-content .w2gm-btn-primary:hover, div.w2gm-content a.w2gm-btn-primary:hover, div.w2gm-content input[type="submit"]:hover, div.w2gm-content input[type="button"]:hover,
form.w2gm-content .w2gm-btn-primary:hover, form.w2gm-content a.w2gm-btn-primary:hover, form.w2gm-content input[type="submit"]:hover, form.w2gm-content input[type="button"]:hover,
div.w2gm-content .wpcf7-form .wpcf7-submit:hover {
	color: #FFFFFF;
	background-color: #1f82a5;
	background-image: none;
	border-color: #1f82a5;
	text-decoration: none;
}
.w2gm-content .w2gm-map-draw-panel button.w2gm-btn.w2gm-btn-primary {
	border-color: #FFFFFF;
}
.w2gm-content select:not(.w2gm-week-day-input) {
	background-image:
	linear-gradient(50deg, transparent 50%, #FFFFFF 50%),
	linear-gradient(130deg, #FFFFFF 50%, transparent 50%),
	linear-gradient(to right, #2393ba, #2393ba) !important;
}
.w2gm-content select:not(.w2gm-week-day-input):focus {
	background-image:
	linear-gradient(130deg, transparent 50%, #FFFFFF 50%),
	linear-gradient(50deg, #FFFFFF 50%, transparent 50%),
	linear-gradient(to right, #2393ba, #2393ba) !important;
}

.w2gm-content.w2gm-search-form {
	background: #bafefe;
	background: -moz-linear-gradient(top, #bafefe 0%, #47c6c6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bafefe), color-stop(100%, #47c6c6));
	background: -webkit-linear-gradient(top, #bafefe 0%, #47c6c6 100%);
	background: -o-linear-gradient(top, #bafefe 0%, #47c6c6 100%);
	background: -ms-linear-gradient(top, #bafefe 0%, #47c6c6 100%);
	background: linear-gradient(to bottom, #bafefe 0%, #47c6c6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= #bafefe , endColorstr= #47c6c6 ,GradientType=0 );
	border: 1px solid #dddddd;
}
form.w2gm-content.w2gm-search-form,
form.w2gm-content.w2gm-search-form a,
form.w2gm-content.w2gm-search-form a:hover,
form.w2gm-content.w2gm-search-form a:visited,
form.w2gm-content.w2gm-search-form a:focus,
form.w2gm-content a.w2gm-advanced-search-label,
form.w2gm-content a.w2gm-advanced-search-label:hover,
form.w2gm-content a.w2gm-advanced-search-label:visited,
form.w2gm-content a.w2gm-advanced-search-label:focus {
	color: #FFFFFF;
}

.w2gm-content .w2gm-map-info-window-title {
	background-color: #2393ba;
}
.w2gm-content .w2gm-label-primary {
	background-color: #2393ba;
}
div.w2gm-content .w2gm-pagination > li.w2gm-active > a,
div.w2gm-content .w2gm-pagination > li.w2gm-active > span,
div.w2gm-content .w2gm-pagination > li.w2gm-active > a:hover,
div.w2gm-content .w2gm-pagination > li.w2gm-active > span:hover,
div.w2gm-content .w2gm-pagination > li.w2gm-active > a:focus,
div.w2gm-content .w2gm-pagination > li.w2gm-active > span:focus {
	background-color: #2393ba;
	border-color: #2393ba;
	color: #FFFFFF;
}
.w2gm-content .w2gm-choose-plan:hover {
	border: 4px solid #2393ba;
}
.statVal span.ui-rater-rating {
	background-color: #2393ba;
}
.w2gm-content .w2gm-map-draw-panel {
	background-color: rgba(35,147,186,0.6);
}
.w2gm-content.w2gm-search-map-form .w2gm-search-overlay {
	background-color: rgba(35,147,186,0.8);
}

/* It works with devices width more than 800 pixels. */
@media screen and (min-width: 800px) {
	.w2gm-single-listing-logo-wrap {
		max-width: 400px;
		float: left;
		margin: 0 20px 20px 0;
	}
	.rtl .w2gm-single-listing-logo-wrap {
		float: right;
		margin: 0 0 20px 20px;
	}
	/* temporarily */
	/*.w2gm-single-listing-text-content-wrap {
		margin-left: 420px;
	}*/
}

article.w2gm-listing .w2gm-single-listing-logo-wrap .w2gm-big-slide {
	background-size: cover;
}
